{% extends "base.html" %}
{%  load static %}
{% block "main" %}



<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2 shadow rounded p-4 mt-5">
      <div class="about-container  ">
        <h2 class="text-center mb-4">About Us</h2>

        <p>Welcome to our E-commerce Store, your one-stop destination for high-quality products and exceptional shopping experiences. Since our inception in [year], we have been dedicated to providing a curated selection of [type of products] that meet the diverse needs and preferences of our customers.</p>

        <h4>Our Mission</h4>
        <p>Our mission is simple yet impactful – to deliver quality products that enhance your lifestyle. We are committed to creating an online shopping environment where every customer feels valued, and every purchase brings joy.</p>

        <h4>Why Choose Us?</h4>
        <p>Here, we stand out for:</p>
        <ul>
          <li>Curated Selection: We carefully curate our product offerings to ensure you get the best of the best.</li>
          <li>Quality Assurance: Our commitment to quality means you can shop with confidence, knowing you're getting premium products.</li>
          <li>Exceptional Service: Our dedicated team is here to assist you at every step, providing excellent customer service.</li>
        </ul>

        <h4>Our Story</h4>
        <p>Founded by Atul Sharma, started with a vision to revolutionize the online shopping experience. Over the years, we have grown from a small startup to a trusted name in the e-commerce industry, serving customers worldwide.</p>

        <p>Thank you for choosing us. We look forward to being part of your shopping journey!</p>

      </div>
    </div>
  </div>
</div>

<script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/popper.js"></script> 

</body>
</html>
{% endblock "main" %}